<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do Lists</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="style.css">
  <title>To Do List</title>
</head>

<header>
    <nav class="nav navbar-expand-lg navbar-light bg-light">
        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto"> 
                <li class = "nav-item">
                    <a class="nav-link" href="/">My Lists</a>
                </li>
                <div class = alignRight>
                <li class = "nav-item">
                    <a class="nav-link" href="/today">Today</a>
                </li>
                <li class = "nav-item">
                    <a class="nav-link" href="/work">Work</a>
                </li>
                <li class = "nav-item">
                    <a class="nav-link" href="/school">School</a>
                </li>
            </div>
            </ul>
        </div>
        </nav>

</header>
<body>
<main class="container">