<%- include("partials/header.ejs") %>


	<div class = "box">
		<h1>My Lists</h1>
	<ul class="homeLists">
		<li class="homeItem">
		  <a class="todaylink" href="/today">Today</a>
		</li>
		<li class="homeItem">
		  <a class="worklink" href="/work">Work</a>
		</li>
		<li class="homeItem">
		  <a class="schoollink" href="/school">School</a>
		</li>
	  </ul>
  </div>



<%- include("partials/footer.ejs") %>
